@using FunWithSpotifyApi.Constants
@using FunWithSpotifyApi.Controllers
@using FunWithSpotifyApi.Helpers
<head>
    <link rel="stylesheet" href="css/Questions-Index.css" />
</head>
<body>
    <h2 id="question"></h2>
    @for (int i = 1; i < QuestionConstants.QuestionsMaxScore + 1; i++)
    {
        <button class="button" onclick="selectButton(@i)">@i</button>
    }
    <br />
    <div id="results"></div>
</body>
<script src="scripts/questions-index.js"></script>