@model List<FunWithSpotifyApi.Models.SpotifyApi.Track>

@foreach (var track in @Model)
{
    <div>@track.Name</div>
    foreach (var artist in @track.Artists)
    {
    <div>@artist.Name</div>
    }
}
