@using FunWithSpotifyApi.Controllers
@using FunWithSpotifyApi.Helpers
@using Microsoft.AspNetCore.Mvc.Rendering
@model object

<!DOCTYPE html>

<html>
<head>
    <title>Welcome to the music selector</title>
</head>
<body>
<div>
    <h1>Spotify Music Selector</h1>
    <h2>@Html.ActionLink("Start", nameof(QuestionsController.Index), ControllerResolver.GetUrlName(typeof(QuestionsController)) )</h2>
</div>
</body>
</html>